.font1{
    background-color: blue;
    width: 80%;
    height: 120px;
}
.fieldset1{
    width: 20%;
    height: 20px;
    background-color: blue;
}
.font2{
    width: 80%;
    height: 160px;
    background-color: blueviolet;
}
.font3{
    width: 80%;
    height: 160px;
    background-color: pink;
}