.test{
    background-color:#2574A9;
    width: 80%;
}
.legend1{
    background-color:#2574A9;
}
.legend2{
    background-color:#9A12B3;
}
.legend3{
    background-color:#DB0A5B;
}
.test2{
    background-color:#9A12B3;
    width: 80%;
}
.test3{
    background-color:#DB0A5B;
    width: 80%;
}
.card{
    margin-left: 30px;
}
.card2{
    margin-bottom: 25px;
}