.test{
    background-color: blue;
    width: 80%;
}
.legend1{
    background-color: blue;
}
.legend2{
    background-color: blueviolet;
}
.legend3{
    background-color: pink;
}
.test2{
    background-color: blueviolet;
    width: 80%;
}
.test3{
    background-color: pink;
    width: 80%;
}