.contain{height: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.ligne1carre1{ 
    width: 80%;
    height: 20px;
    background-color: rgb(19, 179, 19);
}
.ligne1carre2{
    width: 20%;
    height: 20px;
    background-color: rgb(30, 117, 167);
}
.ligne2carre1{
    height: 60px;
    width: 34%;
    background-color: red;
}
.ligne2carremulti{
    height: 60px;
    width: 66%;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.ligne3{
    height: 60px;
    background-color:rgb(167, 19, 167) ;
    width: 100%;
}
.orange{
    background-color: orange;
    width: 50%;
    height: 30px;
}
.grey{
    background-color: gray;
    width: 50%;
    height: 30px;
}
.yellow{
    background-color: yellow;
    height: 30px;
    width: 34%;
}
.cyan{
    background-color: cyan;
    height: 30px;
    width: 33%;
}
.redOrange{
    background-color: red;
    height: 30px;
    width: 33%;
}
